@charset "UTF8";
* {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #b771ca, #e2cbe9);
}

main{
background-color: white;
border-radius: 20px;
box-shadow: 5px 5px 15px #7f4c8d;
width: 600px;
padding: 10px;
margin: auto;
}

h1{
color: #7f4c8d;
text-align: center;
text-shadow: 1px 1px 2px #c27bd6c5;
}

h2{
color:#c6b1c9;
}

p {
    text-align: justify;
}